{% extends "blog/base.html" %}
{% block title %}{{ category.name }} | Diaries of a KenyanDreamer{% endblock %}

{% block content %}
<div class="row col-md-12">
    <div class="col-md-12">
        <h3 style="font-family: 'Abril Fatface', cursive;color: rgba(0, 0, 0, .6);">{{ category.name }}</h3>
    </div>
    <div class="col-md-12">
        <p class="small text-muted">Posts from {{ category.name }} category</p>
    </div>
    <div class="col-md-12">
        <hr>
    </div>
    {% for posts in post %}
    <div class="col-md-4 catHere">
        <img src="{{ posts.article_image.url}}" alt="Corona-Aftermath" style="width: 100%;">
        <h3 style="font-family: 'Abril Fatface', cursive; font-size: 25px;margin-top: 20px;width: 100%;"><a href="{{ posts.get_absolute_url }}" style="color: rgba(0, 0, 0, .6);">{{ posts.title }}</a></h3>
        <p class="small text-muted bodyHere">Posted on {{ posts.publish }}</p>
        <p class="small text-muted bodyHere">Posted by <b style="color: teal;">{{ posts.author }}</b> in <span style="color: teal;">{{ posts.category }}</span></p>
        <hr>
        <p class="bodyHere">{{ posts.body|truncatewords:30|safe }}</p>
        <p class="bodyNow">{{ posts.body|truncatewords:5|safe }}</p>
        <a href="{{ posts.get_absolute_url }}" class="bodyHere"><p class="btn"  style="background-color: teal;color: white;">Read more</p></a>
        <a href="{{ posts.get_absolute_url }}" class="bodyNow"><p class="text-muted small">Read more>></p></a>
    </div>
{% endfor %}
</div>
<style>
    
     /* **************************************************************************************************************** */
    /* **********************************MEDIA QUERIES ********************************************* */
    /* ***************MOBILE PHONE PORTRAIT************************************************************************************************* */
    @media (max-width: 575.98px) {
        img{
        height: 250px;
        /* width: 230px; */
    }
    .bodyNow{
        display: none;
    }
}
/* *************************************************************************************************************** */
/* *************************************************************************************************************** */
/* ************MOBILE LANDSCAPE********************************************************************************** */
@media (min-width: 575.98px) {
    img{
        height: 200px;
        /* width: 230px; */
    }
    .bodyNow{
        display: none;
    }
    
}

/* *************************************************************************************************************** */
/* *************************************************************************************************************** */
/* ************TABLETS********************************************************************************** */
@media (min-width: 767.98px) {
    img{
        height: 150px;
        /* width: 230px; */
    }
    .bodyHere{
        display: none;
    }
    .bodyNow{
        display: block;
    }
}
/* *************************************************************************************************************** */
/* *************************************************************************************************************** */
@media(min-width: 992.98px){
    
}
</style>
{% endblock %}